BASE_URL=https://alex.queo.dev
USER_EMAIL=your_email@example.com
USER_PASSWORD=your_password
EXECUTION_TYPE=plan
USER_FOR_DEACTIVATION=user_id_here
USER_DNI_TO_DEACTIVATE=user_id_here
PROPERTY_TO_EDIT=property_to_edit



